.medbg {
<<<<<<< HEAD
    /* background-image: url(../../assets/images/26807.jpg); */
=======
>>>>>>> 0f1807b58f0015c2d7ef09bba5111017f4d22793
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .is-valid {
    border: 1px solid green;
  }
  
  .is-invalid {
    border: 1px solid red;
  }
  .user-details {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .warning {
    color: #dc3545; /* Red color for warnings */
    margin-top: 5px;
  }