<app-navbar></app-navbar>
<form [formGroup]="doctorForm" (ngSubmit)="onSubmit()" class="custom-form mt-5">
  <!-- Services -->
  <div class="form-group">
    <label for="services">Services:</label>
    <input type="text" id="services" formControlName="services">
  </div>

  <!-- Experiences -->
  <div class="form-group">
    <label for="experiences">Experiences:</label>
    <textarea id="experiences" formControlName="experiences"></textarea>
  </div>

  <!-- Awards -->
  <div class="form-group">
    <label for="awards">Awards:</label>
    <input type="text" id="awards" formControlName="awards">
  </div>

  <!-- Education -->
  <div class="form-group">
    <label for="education">Education:</label>
    <textarea id="education" formControlName="education"></textarea>
  </div>

  <!-- Specializations -->
  <div class="form-group">
    <label for="specializations">Specializations:</label>
    <input type="text" id="specializations" formControlName="specializations">
  </div>

  <!-- Memberships -->
  <div class="form-group">
    <label for="memberships">Memberships:</label>
    <input type="text" id="memberships" formControlName="memberships">
  </div>

  <!-- Submit button -->
  <button type="submit" [disabled]="!doctorForm.valid">Submit</button>
</form>
