
<form [formGroup]="doctorForm">


  <!-- Services -->
  <div formArrayName="services">
    <div *ngFor="let control of getFormArrayControls('services'); let i = index">
      <input [formControl]="$any (control)" placeholder="Service {{ i + 1 }}" />
      <button type="button" (click)="removeInput('services', i)">Remove Service</button>
    </div>
    <button type="button" (click)="addInput('services')">Add Service</button>
  </div>

  <!-- Experiences -->
  <div formArrayName="experiences">
    <div *ngFor="let control of getFormArrayControls('experiences'); let i = index">
      <input [formControl]="$any (control)" placeholder="Experience {{ i + 1 }}" />
      <button type="button" (click)="removeInput('experiences', i)">Remove Experience</button>
    </div>
    <button type="button" (click)="addInput('experiences')">Add Experience</button>
  </div>

  <!-- Awards -->
  <div formArrayName="awards">
    <div *ngFor="let control of getFormArrayControls('awards'); let i = index">
      <input [formControl]="$any (control)" placeholder="Award {{ i + 1 }}" />
      <button type="button" (click)="removeInput('awards', i)">Remove Award</button>
    </div>
    <button type="button" (click)="addInput('awards')">Add Award</button>
  </div>

  <!-- Education -->
  <div formArrayName="education">
    <div *ngFor="let control of getFormArrayControls('education'); let i = index">
      <input [formControl]="$any (control)" placeholder="Education {{ i + 1 }}" />
      <button type="button" (click)="removeInput('education', i)">Remove Education</button>
    </div>
    <button type="button" (click)="addInput('education')">Add Education</button>
  </div>

  <!-- Specializations -->
  <div formArrayName="specializations">
    <div *ngFor="let control of getFormArrayControls('specializations'); let i = index">
      <input [formControl]="$any (control)" placeholder="Specialization {{ i + 1 }}" />
      <button type="button" (click)="removeInput('specializations', i)">Remove Specialization</button>
    </div>
    <button type="button" (click)="addInput('specializations')">Add Specialization</button>
  </div>

  <!-- Memberships -->
  <div formArrayName="memberships">
    <div *ngFor="let control of getFormArrayControls('memberships'); let i = index">
      <input [formControl]="$any (control)" placeholder="Membership {{ i + 1 }}" />
      <button type="button" (click)="removeInput('memberships', i)">Remove Membership</button>
    </div>
    <button type="button" (click)="addInput('memberships')">Add Membership</button>
  </div>

</form>
