body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  align-items: center;
  height: 92vh;
  background: url('https://img.freepik.com/premium-photo/blurred-interior-hospital-clinical-with-people-abstract-medical-background_1484-1309.jpg') center center fixed;
  background-size: cover;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;

}


.p-card {
  width: 360px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.field {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.p-error {
  color: red;
  font-size: 14px;
}

/* Style the "SIGNUP" button */
.p-button {
  width: 100%;
  margin-top: 10px;
}


.mt-2 {
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: #007bff; 
}

a:hover {
  text-decoration: underline;
}
