<app-sidebar></app-sidebar>
<div class="container">
<div class="content">
<div class="title">
    <h1>MedTech Innovations</h1>
    <p>Revolutionizing Healthcare Through Technology</p>
</div>
  
  <section>
    <h2>Our Mission</h2>
    <p>
      At MedTech Innovations, we are dedicated to improving healthcare through cutting-edge technology. 
      Our mission is to create innovative solutions that enhance patient care, streamline processes, 
      and contribute to the overall advancement of medical science.
    </p>
  
    <h2>What We Do</h2>
    <p>
      We specialize in developing state-of-the-art medical technologies, ranging from diagnostic tools 
      to treatment solutions. Our team of experts is committed to staying at the forefront of technological 
      advancements to address the ever-evolving challenges in the healthcare industry.
    </p>
  </section>
</div>
</div>
