<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<app-navbar></app-navbar>
<header class="text-white text-center py-5" style="background-color: #008080;">
    <h1 class="display-4">{{patient.firstName}} {{patient.lastName}}</h1>
    <p class="lead">Patient #{{patient.id}}</p>
</header>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 mt-2">
      <h2 class="section-heading text-center">Personal Information</h2>
      <div class="record-details">
        <p><strong>Name:</strong> {{patient.firstName}} {{patient.lastName}}</p>
        <p><strong>Gender:</strong> {{patient.gender}}</p>
        <p><strong>Date of Birth:</strong> {{patient.dateOfBirth}}</p>
        <p><strong>Contact:</strong> {{patient.contact}}</p>
        <p><strong>Email:</strong> {{patient.email}}</p>
        <p><strong>Address:</strong> {{patient.address}}</p>
      </div>
    </div>
    <div class="col-md-6 mt-2">
      <h2 class="section-heading text-center">Medical History</h2>
      <div class="record-details">
        <p><strong>Past Conditions:</strong> {{patient.medicalHistory.pastConditions}}</p>
        <p><strong>Allergies:</strong> {{patient.medicalHistory.allergies}}</p>
        <p><strong>Surgeries:</strong> {{patient.medicalHistory.surgeries}}</p>
        <p><strong>Medications:</strong> {{patient.medicalHistory.medications}}</p>
        <p><strong>Family History:</strong> {{
          patient.medicalHistory.familyHistory}}</p>
        <p><strong>Blood Group:</strong> {{patient.medicalHistory.bloodGroup}}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="section-heading text-center">Clinic & Medical Reports</h2>
      <ng-container *ngFor="let clinic of patient.clinics">
        <div class="record-details">
          <p><strong>Hospital:</strong> {{ clinic.hospital }}</p>
          <p><strong>Department:</strong> {{ clinic.department }}</p>
          <p><strong>Admission Date:</strong> {{ clinic.admissionDate }}</p>
          <p><strong>Discharge Date:</strong> {{ clinic.dischargeDate }}</p>
          <p><strong>Attending Doctor:</strong> {{ clinic.attendingDoctor }}</p>
          <button (click)="toggleReports(clinic.id)">{{ showHideText }}</button>
          <ul *ngIf="clinic.showReports">
            <li *ngFor="let report of clinic.reports">
              <p><strong>Date of Visit:</strong> {{ report.dateOfVisit }}</p>
              <p><strong>Report Date:</strong> {{ report.reportDate }}</p>
              <p><strong>Diagnosis:</strong> {{ report.diagnosis }}</p>
              <p><strong>Symptoms:</strong> {{ report.symptoms }}</p>
              <p><strong>Treatment:</strong> {{ report.treatment }}</p>
              <p><strong>Prescription:</strong> {{ report.prescription }}</p>
              <p><strong>Hospital:</strong> {{ report.hospital }}</p>
            </li>
          </ul>
        </div>
      </ng-container>
    </div>
  </div>
  
  
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
