<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="patient-details">
    <div class="step-indicators">
      <span *ngFor="let step of steps" class="step-dot" [class.active]="step === currentStep"></span>
    </div>
    <h2 class="mb-4 text-center">Step {{currentStep}} - {{title}}</h2>
    <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">


<div *ngIf="currentStep === 1">
  <div formGroupName="personalDetails">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input
          type="text"
          id="firstName"
          formControlName="firstName"
          class="form-control"
          [ngClass]="{
            'is-valid': patientForm.get('personalDetails.firstName')?.valid && (patientForm.get('personalDetails.firstName')?.dirty || patientForm.get('personalDetails.firstName')?.touched),
            'is-invalid': patientForm.get('personalDetails.firstName')?.invalid && (patientForm.get('personalDetails.firstName')?.dirty || patientForm.get('personalDetails.firstName')?.touched)
          }"
        />
        <div class="warning" *ngIf="patientForm.get('personalDetails.firstName')?.invalid && patientForm.get('personalDetails.firstName')?.touched">
          {{ getErrorMessage('personalDetails.firstName') }}
        </div>
      </div>

      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input
          type="text"
          id="lastName"
          formControlName="lastName"
          class="form-control"
          [ngClass]="{
            'is-valid': patientForm.get('personalDetails.lastName')?.valid && (patientForm.get('personalDetails.lastName')?.dirty || patientForm.get('personalDetails.lastName')?.touched),
            'is-invalid': patientForm.get('personalDetails.lastName')?.invalid && (patientForm.get('personalDetails.lastName')?.dirty || patientForm.get('personalDetails.lastName')?.touched)
          }"
        />
        <div class="warning" *ngIf="patientForm.get('personalDetails.lastName')?.invalid && patientForm.get('personalDetails.lastName')?.touched">
          {{ getErrorMessage('personalDetails.lastName') }}
        </div>
      </div>

      <div class="form-group">
        <label for="gender">Gender:</label>
        <input
          type="text"
          id="gender"
          formControlName="gender"
          class="form-control"
          [ngClass]="{
            'is-valid': patientForm.get('personalDetails.gender')?.valid && (patientForm.get('personalDetails.gender')?.dirty || patientForm.get('personalDetails.gender')?.touched),
            'is-invalid': patientForm.get('personalDetails.gender')?.invalid && (patientForm.get('personalDetails.gender')?.dirty || patientForm.get('personalDetails.gender')?.touched)
          }"
        />
        <div class="warning" *ngIf="patientForm.get('personalDetails.gender')?.invalid && patientForm.get('personalDetails.gender')?.touched">
          {{ getErrorMessage('personalDetails.gender') }}
        </div>
      </div>

      <div class="form-group">
        <label for="contact">Contact:</label>
        <input
          type="text"
          id="contact"
          formControlName="contact"
          class="form-control"
          [ngClass]="{
            'is-valid': patientForm.get('personalDetails.contact')?.valid && (patientForm.get('personalDetails.contact')?.dirty || patientForm.get('personalDetails.contact')?.touched),
            'is-invalid': patientForm.get('personalDetails.contact')?.invalid && (patientForm.get('personalDetails.contact')?.dirty || patientForm.get('personalDetails.contact')?.touched)
          }"
        />
        <div class="warning" *ngIf="patientForm.get('personalDetails.contact')?.invalid && patientForm.get('personalDetails.contact')?.touched">
          {{ getErrorMessage('personalDetails.contact') }}
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="text"
          id="email"
          formControlName="email"
          class="form-control"
          [ngClass]="{
            'is-valid': patientForm.get('personalDetails.email')?.valid && (patientForm.get('personalDetails.email')?.dirty || patientForm.get('personalDetails.email')?.touched),
            'is-invalid': patientForm.get('personalDetails.email')?.invalid && (patientForm.get('personalDetails.email')?.dirty || patientForm.get('personalDetails.email')?.touched)
          }"
        />
        <div class="warning" *ngIf="patientForm.get('personalDetails.email')?.invalid && patientForm.get('personalDetails.email')?.touched">
          {{ getErrorMessage('personalDetails.email') }}
        </div>
      </div>

      <div class="form-group">
        <label for="dateOfBirth">Date of Birth:</label>
        <input
          type="date"
          id="dateOfBirth"
          formControlName="dateOfBirth"
          class="form-control"
          [ngClass]="{
            'is-valid': patientForm.get('personalDetails.dateOfBirth')?.valid && (patientForm.get('personalDetails.dateOfBirth')?.dirty || patientForm.get('personalDetails.dateOfBirth')?.touched),
            'is-invalid': patientForm.get('personalDetails.dateOfBirth')?.invalid && (patientForm.get('personalDetails.dateOfBirth')?.dirty || patientForm.get('personalDetails.dateOfBirth')?.touched)
          }"
        />
        <div class="warning" *ngIf="patientForm.get('personalDetails.dateOfBirth')?.invalid && patientForm.get('personalDetails.dateOfBirth')?.touched">
          {{ getErrorMessage('personalDetails.dateOfBirth') }}
        </div>
      </div>

      <div class="form-group">
        <label for="address">Address:</label>
        <input
          type="text"
          id="address"
          formControlName="address"
          class="form-control"
          [ngClass]="{
            'is-valid': patientForm.get('personalDetails.address')?.valid && (patientForm.get('personalDetails.address')?.dirty || patientForm.get('personalDetails.address')?.touched),
            'is-invalid': patientForm.get('personalDetails.address')?.invalid && (patientForm.get('personalDetails.address')?.dirty || patientForm.get('personalDetails.address')?.touched)
          }"
        />
        <div class="warning" *ngIf="patientForm.get('personalDetails.address')?.invalid && patientForm.get('personalDetails.address')?.touched">
          {{ getErrorMessage('personalDetails.address') }}
        </div>
      </div>

      <button type="button" class="btn btn-outline-primary" (click)="nextStep()">Next</button>

  </div>
</div>


<div *ngIf="currentStep === 2">
  <div formGroupName="medicalHistory">
      <div class="form-group">
        <label for="bloodGroup">Blood Group:</label>
        <input
          type="text"
          id="bloodGroup"
          formControlName="bloodGroup"
          class="form-control"
          [ngClass]="{
            'is-valid': patientForm.get('medicalHistory.bloodGroup')?.valid && (patientForm.get('medicalHistory.bloodGroup')?.dirty || patientForm.get('medicalHistory.bloodGroup')?.touched),
            'is-invalid': patientForm.get('medicalHistory.bloodGroup')?.invalid && (patientForm.get('medicalHistory.bloodGroup')?.dirty || patientForm.get('medicalHistory.bloodGroup')?.touched)
          }"
        />
        <div class="warning" *ngIf="patientForm.get('medicalHistory.bloodGroup')?.invalid && patientForm.get('medicalHistory.bloodGroup')?.touched">
          {{ getErrorMessage('bloodGroup') }}
        </div>
      </div>

      <div class="form-group">
        <label for="familyHistory">Family History:</label>
        <textarea
          id="familyHistory"
          formControlName="familyHistory"
          class="form-control"
          [ngClass]="{
            'is-valid': patientForm.get('medicalHistory.familyHistory')?.valid && (patientForm.get('medicalHistory.familyHistory')?.dirty || patientForm.get('medicalHistory.familyHistory')?.touched),
            'is-invalid': patientForm.get('medicalHistory.familyHistory')?.invalid && (patientForm.get('medicalHistory.familyHistory')?.dirty || patientForm.get('medicalHistory.familyHistory')?.touched)
          }"
        ></textarea>
        <div class="warning" *ngIf="patientForm.get('medicalHistory.familyHistory')?.invalid && patientForm.get('medicalHistory.familyHistory')?.touched">
          {{ getErrorMessage('medicalHistory.familyHistory') }}
        </div>
      </div>

      <div class="form-group">
        <label for="medications">Medications:</label>
        <div formArrayName="medications">
          <div *ngFor="let medication of patientForm.get('medicalHistory.medications')?.value; let i = index">
            <div [formGroupName]="i" class="col-12">
              <div class="row">

                <div class="col-4">
                  <input type="text" id ="medication" formControlName="medication" placeholder="" class="form-control"
                    [ngClass]="{
                      'is-valid': patientForm.get('medicalHistory.medications.' + i + 'medication')?.valid &&
                        (patientForm.get('medicalHistory.medications.' + i + 'medication')?.dirty ||
                          patientForm.get('medicalHistory.medications.' + i + 'medication')?.touched),
                      'is-invalid': patientForm.get('medicalHistory.medications.' + i + 'medication')?.invalid &&
                        (patientForm.get('medicalHistory.medications.' + i + 'medication')?.dirty ||
                          patientForm.get('medicalHistory.medications.' + i + 'medication')?.touched)
                    }" />
      
                  <div class="warning"
                    *ngIf="patientForm.get('medicalHistory.medications.' + i + 'medication')?.invalid &&
                      patientForm.get('medicalHistory.medications.' + i + 'medication')?.touched">
                    {{ getErrorMessage(patientForm.get('medicalHistory.medications.' + i + 'medication')) }}
                  </div>
                </div>
                <div class="col-2">
                  <button *ngIf="i > 0" type="button" (click)="removeMedication(i)" class="btn btn-outline-danger btn-sm mr-2 mt-1">-</button>
                  <button *ngIf="i === patientForm.get('medicalHistory.medications')?.value.length - 1 && i<2" type="button" (click)="addMedication()" class="btn btn-outline-primary btn-sm mt-1">+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="allergies">Allergies:</label>
        <div formArrayName="allergies">
          <div *ngFor="let allergy of patientForm.get('medicalHistory.allergies')?.value; let i = index">
            <div [formGroupName]="i" class="col-12">
              <div class="row">

                <div class="col-4">
                  <input type="text" formControlName="allergy" placeholder="" class="form-control"
                    [ngClass]="{
                      'is-valid': patientForm.get('medicalHistory.allergies.' + i + 'allergy')?.valid &&
                        (patientForm.get('medicalHistory.allergies.' + i + 'allergy')?.dirty ||
                          patientForm.get('medicalHistory.allergies.' + i + 'allergy')?.touched),
                      'is-invalid': patientForm.get('medicalHistory.allergies.' + i + 'allergy')?.invalid &&
                        (patientForm.get('medicalHistory.allergies.' + i + 'allergy')?.dirty ||
                          patientForm.get('medicalHistory.allergies.' + i + 'allergy')?.touched)
                    }" />
      
                  <div class="warning"
                    *ngIf="patientForm.get('medicalHistory.allergies.' + i + 'allergy')?.invalid &&
                      patientForm.get('medicalHistory.allergies.' + i + 'allergy')?.touched">
                    {{ getErrorMessage(patientForm.get('medicalHistory.allergies.' + i + 'allergy')) }}
                  </div>
                </div>
                <div class="col-2">
                  <button *ngIf="i > 0" type="button" (click)="removeAllergy(i)" class="btn btn-outline-danger btn-sm mr-2 mt-1">-</button>
                  <button *ngIf="i === patientForm.get('medicalHistory.allergies')?.value.length - 1 && i<2" type="button" (click)="addAllergy()" class="btn btn-outline-primary btn-sm mt-1">+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="surgeries">Surgeries:</label>
        <div formArrayName="surgeries">
          <div *ngFor="let surgery of patientForm.get('medicalHistory.surgeries')?.value; let i = index">
            <div [formGroupName]="i" class="col-12">
              <div class="row">

                <div class="col-4">
                  <input type="text" formControlName="surgery" placeholder="" class="form-control"
                    [ngClass]="{
                      'is-valid': patientForm.get('medicalHistory.surgeries.' + i + 'surgery')?.valid &&
                        (patientForm.get('medicalHistory.surgeries.' + i + 'surgery')?.dirty ||
                          patientForm.get('medicalHistory.surgeries.' + i + 'surgery')?.touched),
                      'is-invalid': patientForm.get('medicalHistory.surgeries.' + i + 'surgery')?.invalid &&
                        (patientForm.get('medicalHistory.surgeries.' + i + 'surgery')?.dirty ||
                          patientForm.get('medicalHistory.surgeries.' + i + 'surgery')?.touched)
                    }" />
      
                  <div class="warning"
                    *ngIf="patientForm.get('medicalHistory.surgeries.' + i + 'surgery')?.invalid &&
                      patientForm.get('medicalHistory.surgeries.' + i + 'surgery')?.touched">
                    {{ getErrorMessage(patientForm.get('medicalHistory.surgeries.' + i + 'surgery')) }}
                  </div>
                </div>
                <div class="col-2">
                  <button *ngIf="i > 0" type="button" (click)="removeSurgery(i)" class="btn btn-outline-danger btn-sm mr-2 mt-1">-</button>
                  <button *ngIf="i === patientForm.get('medicalHistory.surgeries')?.value.length - 1 && i<2" type="button" (click)="addSurgery()" class="btn btn-outline-primary btn-sm mt-1">+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="pastConditions">Past Conditions:</label>
        <div formArrayName="pastConditions">
          <div *ngFor="let pastCondition of patientForm.get('medicalHistory.pastConditions')?.value; let i = index">
            <div [formGroupName]="i" class="col-12">
              <div class="row">

                <div class="col-4">
                  <input type="text" formControlName="pastCondition" placeholder="" class="form-control"
                    [ngClass]="{
                      'is-valid': patientForm.get('medicalHistory.pastConditions.' + i + 'pastCondition')?.valid &&
                        (patientForm.get('medicalHistory.pastConditions.' + i + 'pastCondition')?.dirty ||
                          patientForm.get('medicalHistory.pastConditions.' + i + 'pastCondition')?.touched),
                      'is-invalid': patientForm.get('medicalHistory.pastConditions.' + i + 'pastCondition')?.invalid &&
                        (patientForm.get('medicalHistory.pastConditions.' + i + 'pastCondition')?.dirty ||
                          patientForm.get('medicalHistory.pastConditions.' + i + 'pastCondition')?.touched)
                    }" />
      
                  <div class="warning"
                    *ngIf="patientForm.get('medicalHistory.pastConditions.' + i + 'pastCondition')?.invalid &&
                      patientForm.get('medicalHistory.pastConditions.' + i + 'pastCondition')?.touched">
                    {{ getErrorMessage(patientForm.get('medicalHistory.pastConditions.' + i + 'pastCondition')) }}
                  </div>
                </div>
                <div class="col-2">
                  <button *ngIf="i > 0" type="button" (click)="removePastCondition(i)" class="btn btn-outline-danger btn-sm mr-2 mt-1">-</button>
                  <button *ngIf="i === patientForm.get('medicalHistory.pastConditions')?.value.length - 1 && i<2" type="button" (click)="addPastCondition()" class="btn btn-outline-primary btn-sm mt-1">+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button type="button" class="btn btn-outline-secondary mt-2" (click)="prevStep()">Previous</button>
      <button type="button" class="btn btn-outline-primary ml-2 mt-2" (click)="nextStep()">Next</button>
  </div>
</div>

<div *ngIf="currentStep === 3">
  <div formArrayName="clinicDetails">
    <div *ngFor="let clinic of clinicDetails.controls; let i = index" [formGroupName]="i">
      <div class="form-group">
        <label for="hospital">Hospital:</label>
        <input
          type="text"
          id="hospital"
          formControlName="hospital"
          class="form-control"
          [ngClass]="{
            'is-valid': patientForm.get('clinic.hospital')?.valid && (patientForm.get('clinic.hospital')?.dirty || patientForm.get('peclinic.firstName')?.touched),
            'is-invalid': patientForm.get('clinic.hospital')?.invalid && (patientForm.get('clinic.hospital')?.dirty || patientForm.get('peclinic.firstName')?.touched)
          }"
        />
        <div class="warning" *ngIf="patientForm.get('clinic.hospital')?.invalid && patientForm.get('clinic.hospital')?.touched">
          {{ getErrorMessage('clinic.hospital') }}
        </div>
      </div>

      <div class="form-group">
        <label for="department">Department:</label>
        <input
          type="text"
          id="department"
          formControlName="department"
          class="form-control"
          [ngClass]="{
            'is-valid': patientForm.get('clinic.department')?.valid && (patientForm.get('clinic.department')?.dirty || patientForm.get('clinic.department')?.touched),
            'is-invalid': patientForm.get('clinic.department')?.invalid && (patientForm.get('clinic.department')?.dirty || patientForm.get('clinic.department')?.touched)
          }"
        />
        <div class="warning" *ngIf="patientForm.get('clinic.department')?.invalid && patientForm.get('clinic.department')?.touched">
          {{ getErrorMessage('clinic.department') }}
        </div>
      </div>
      
      <div class="form-group">
        <label for="attendingDoctor">Attending Doctor:</label>
        <input
          type="text"
          id="attendingDoctor"
          formControlName="attendingDoctor"
          class="form-control"
          [ngClass]="{
            'is-valid': patientForm.get('clinic.attendingDoctor')?.valid && (patientForm.get('clinic.attendingDoctor')?.dirty || patientForm.get('clinic.attendingDoctor')?.touched),
            'is-invalid': patientForm.get('clinic.attendingDoctor')?.invalid && (patientForm.get('clinic.attendingDoctor')?.dirty || patientForm.get('clinic.attendingDoctor')?.touched)
          }"
        />
        <div class="warning" *ngIf="patientForm.get('clinic.attendingDoctor')?.invalid && patientForm.get('clinic.attendingDoctor')?.touched">
          {{ getErrorMessage('clinic.attendingDoctor') }}
        </div>
      </div>

      <div class="form-group">
        <label for="admissionDate">Admission Date:</label>
        <input
          type="date"
          id="admissionDate"
          formControlName="admissionDate"
          class="form-control"
          [ngClass]="{
            'is-valid': patientForm.get('clinic.admissionDate')?.valid && (patientForm.get('clinic.admissionDate')?.dirty || patientForm.get('clinic.admissionDate')?.touched),
            'is-invalid': patientForm.get('clinic.admissionDate')?.invalid && (patientForm.get('clinic.admissionDate')?.dirty || patientForm.get('clinic.admissionDate')?.touched)
          }"
        />
        <div class="warning" *ngIf="patientForm.get('clinic.admissionDate')?.invalid && patientForm.get('clinic.admissionDate')?.touched">
          {{ getErrorMessage('clinic.admissionDate') }}
        </div>
      </div>

      <div class="form-group">
        <label for="dischargeDate">Discharge Date:</label>
        <input
          type="date"
          id="dischargeDate"
          formControlName="dischargeDate"
          class="form-control"
          [ngClass]="{
            'is-valid': patientForm.get('clinic.dischargeDate')?.valid && (patientForm.get('clinic.dischargeDate')?.dirty || patientForm.get('clinic.dischargeDate')?.touched),
            'is-invalid': patientForm.get('clinic.dischargeDate')?.invalid && (patientForm.get('clinic.dischargeDate')?.dirty || patientForm.get('clinic.dischargeDate')?.touched)
          }"
        />
        <div class="warning" *ngIf="patientForm.get('clinic.dischargeDate')?.invalid && patientForm.get('clinic.dischargeDate')?.touched">
          {{ getErrorMessage('clinic.dischargeDate') }}
        </div>
      </div>

      <div class="form-group">
        <label for="clinicRoom">Clinic Room:</label>
        <input
          type="text"
          id="clinicRoom"
          formControlName="clinicRoom"
          class="form-control"
          [ngClass]="{
            'is-valid': patientForm.get('clinic.clinicRoom')?.valid && (patientForm.get('clinic.clinicRoom')?.dirty || patientForm.get('clinic.clinicRoom')?.touched),
            'is-invalid': patientForm.get('clinic.clinicRoom')?.invalid && (patientForm.get('clinic.clinicRoom')?.dirty || patientForm.get('clinic.clinicRoom')?.touched)
          }"
        />
        <div class="warning" *ngIf="patientForm.get('clinic.clinicRoom')?.invalid && patientForm.get('clinic.clinicRoom')?.touched">
          {{ getErrorMessage('clinic.clinicRoom') }}
        </div>
      </div>
      <button *ngIf="clinicDetails.controls.length > 1" type="button" class="btn btn-danger mt-2 md-4" (click)="removeClinic(i)">Remove Clinic</button>
    </div>
    <button type="button" class="btn btn-success mt-2" (click)="AddClinic()">Add Another Clinic </button>
  </div>
  <button type="button" class="btn btn-outline-secondary" (click)="prevStep()">Previous</button>
  <button type="submit" class="btn btn-success" [disabled]="patientForm.invalid">Save</button>
</div>

    </form>
  </div>
</div>



