<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="patient-details">
    <div class="step-indicators">
      <span *ngFor="let step of steps" class="step-dot" [class.active]="step === currentStep"></span>
    </div>
    <h2 class="mb-4 text-center">Step {{currentStep}} - {{title}}</h2>
    <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">


<div *ngIf="currentStep === 1">
  <div formGroupName="personalDetails">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input
          type="text"
          id="firstName"
          formControlName="firstName"
          class="form-control"
          [ngClass]="{
            'is-valid': patientForm.get('personalDetails.firstName')?.valid && (patientForm.get('personalDetails.firstName')?.dirty || patientForm.get('personalDetails.firstName')?.touched),
            'is-invalid': patientForm.get('personalDetails.firstName')?.invalid && (patientForm.get('personalDetails.firstName')?.dirty || patientForm.get('personalDetails.firstName')?.touched)
          }"
        />
        <div class="warning" *ngIf="patientForm.get('personalDetails.firstName')?.invalid && patientForm.get('personalDetails.firstName')?.touched">
          {{ getErrorMessage(patientForm.get('personalDetails.firstName')) }}
        </div>
      </div>

      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input
          type="text"
          id="lastName"
          formControlName="lastName"
          class="form-control"
          [ngClass]="{
            'is-valid': patientForm.get('personalDetails.lastName')?.valid && (patientForm.get('personalDetails.lastName')?.dirty || patientForm.get('personalDetails.lastName')?.touched),
            'is-invalid': patientForm.get('personalDetails.lastName')?.invalid && (patientForm.get('personalDetails.lastName')?.dirty || patientForm.get('personalDetails.lastName')?.touched)
          }"
        />
        <div class="warning" *ngIf="patientForm.get('personalDetails.lastName')?.invalid && patientForm.get('personalDetails.lastName')?.touched">
          {{ getErrorMessage(patientForm.get('personalDetails.lastName')) }}
        </div>
      </div>

      <div class="form-group">
        <label for="gender">Gender:</label>
        <input
          type="text"
          id="gender"
          formControlName="gender"
          class="form-control"
          [ngClass]="{
            'is-valid': patientForm.get('personalDetails.gender')?.valid && (patientForm.get('personalDetails.gender')?.dirty || patientForm.get('personalDetails.gender')?.touched),
            'is-invalid': patientForm.get('personalDetails.gender')?.invalid && (patientForm.get('personalDetails.gender')?.dirty || patientForm.get('personalDetails.gender')?.touched)
          }"
        />
        <div class="warning" *ngIf="patientForm.get('personalDetails.gender')?.invalid && patientForm.get('personalDetails.gender')?.touched">
          {{ getErrorMessage(patientForm.get('personalDetails.gender')) }}
        </div>
      </div>

      <div class="form-group">
        <label for="contact">Contact:</label>
        <input
          type="text"
          id="contact"
          formControlName="contact"
          class="form-control"
          [ngClass]="{
            'is-valid': patientForm.get('personalDetails.contact')?.valid && (patientForm.get('personalDetails.contact')?.dirty || patientForm.get('personalDetails.contact')?.touched),
            'is-invalid': patientForm.get('personalDetails.contact')?.invalid && (patientForm.get('personalDetails.contact')?.dirty || patientForm.get('personalDetails.contact')?.touched)
          }"
        />
        <div class="warning" *ngIf="patientForm.get('personalDetails.contact')?.invalid && patientForm.get('personalDetails.contact')?.touched">
          {{ getErrorMessage(patientForm.get('personalDetails.contact')) }}
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="text"
          id="email"
          formControlName="email"
          class="form-control"
          [ngClass]="{
            'is-valid': patientForm.get('personalDetails.email')?.valid && (patientForm.get('personalDetails.email')?.dirty || patientForm.get('personalDetails.email')?.touched),
            'is-invalid': patientForm.get('personalDetails.email')?.invalid && (patientForm.get('personalDetails.email')?.dirty || patientForm.get('personalDetails.email')?.touched)
          }"
        />
        <div class="warning" *ngIf="patientForm.get('personalDetails.email')?.invalid && patientForm.get('personalDetails.email')?.touched">
          {{ getErrorMessage(patientForm.get('personalDetails.email')) }}
        </div>
      </div>

      <div class="form-group">
        <label for="dateOfBirth">Date of Birth:</label>
        <input
          type="date"
          id="dateOfBirth"
          formControlName="dateOfBirth"
          class="form-control"
          [ngClass]="{
            'is-valid': patientForm.get('personalDetails.dateOfBirth')?.valid && (patientForm.get('personalDetails.dateOfBirth')?.dirty || patientForm.get('personalDetails.dateOfBirth')?.touched),
            'is-invalid': patientForm.get('personalDetails.dateOfBirth')?.invalid && (patientForm.get('personalDetails.dateOfBirth')?.dirty || patientForm.get('personalDetails.dateOfBirth')?.touched)
          }"
        />
        <div class="warning" *ngIf="patientForm.get('personalDetails.dateOfBirth')?.invalid && patientForm.get('personalDetails.dateOfBirth')?.touched">
          {{ getErrorMessage(patientForm.get('personalDetails.dateOfBirth')) }}
        </div>
      </div>

      <div class="form-group">
        <label for="address">Address:</label>
        <input
          type="text"
          id="address"
          formControlName="address"
          class="form-control"
          [ngClass]="{
            'is-valid': patientForm.get('personalDetails.address')?.valid && (patientForm.get('personalDetails.address')?.dirty || patientForm.get('personalDetails.address')?.touched),
            'is-invalid': patientForm.get('personalDetails.address')?.invalid && (patientForm.get('personalDetails.address')?.dirty || patientForm.get('personalDetails.address')?.touched)
          }"
        />
        <div class="warning" *ngIf="patientForm.get('personalDetails.address')?.invalid && patientForm.get('personalDetails.address')?.touched">
          {{ getErrorMessage(patientForm.get('personalDetails.address')) }}
        </div>
      </div>

      <button type="button" class="btn btn-outline-primary" (click)="nextStep()">Next</button>

  </div>
</div>


<div *ngIf="currentStep === 2">
  <div formGroupName="medicalHistory">
      <div class="form-group">
        <label for="bloodGroup">Blood Group:</label>
        <input
          type="text"
          id="bloodGroup"
          formControlName="bloodGroup"
          class="form-control"
          [ngClass]="{
            'is-valid': patientForm.get('medicalHistory.bloodGroup')?.valid && (patientForm.get('medicalHistory.bloodGroup')?.dirty || patientForm.get('medicalHistory.bloodGroup')?.touched),
            'is-invalid': patientForm.get('medicalHistory.bloodGroup')?.invalid && (patientForm.get('medicalHistory.bloodGroup')?.dirty || patientForm.get('medicalHistory.bloodGroup')?.touched)
          }"
        />
        <div class="warning" *ngIf="patientForm.get('medicalHistory.bloodGroup')?.invalid && patientForm.get('medicalHistory.bloodGroup')?.touched">
          {{ getErrorMessage('bloodGroup') }}
        </div>
      </div>

      <div class="form-group">
        <label for="familyHistory">Family History:</label>
        <input
          type="text"
          id="familyHistory"
          formControlName="familyHistory"
          class="form-control"
          [ngClass]="{
            'is-valid': patientForm.get('medicalHistory.familyHistory')?.valid && (patientForm.get('medicalHistory.familyHistory')?.dirty || patientForm.get('medicalHistory.familyHistory')?.touched),
            'is-invalid': patientForm.get('medicalHistory.familyHistory')?.invalid && (patientForm.get('medicalHistory.familyHistory')?.dirty || patientForm.get('medicalHistory.familyHistory')?.touched)
          }"
         /> 
        <div class="warning" *ngIf="patientForm.get('medicalHistory.familyHistory')?.invalid && patientForm.get('medicalHistory.familyHistory')?.touched">
          {{ getErrorMessage(patientForm.get('medicalHistory.familyHistory')) }}
        </div>
      </div>

      <div class="form-group">
        <label for="allergies">Allergies:</label>
        <input
          type="text"
          id="allergies"
          formControlName="allergies"
          class="form-control"
          [ngClass]="{
            'is-valid': patientForm.get('medicalHistory.allergies')?.valid && (patientForm.get('medicalHistory.allergies')?.dirty || patientForm.get('medicalHistory.allergies')?.touched),
            'is-invalid': patientForm.get('medicalHistory.allergies')?.invalid && (patientForm.get('medicalHistory.allergies')?.dirty || patientForm.get('medicalHistory.allergies')?.touched)
          }"
        />
        <div class="warning" *ngIf="patientForm.get('medicalHistory.allergies')?.invalid && patientForm.get('medicalHistory.allergies')?.touched">
          {{ getErrorMessage(patientForm.get('medicalHistory.allergies')) }}
        </div>
      </div>

      <div class="form-group">
        <label for="pastConditions">Past Conditions:</label>
        <input
          type="text"
          id="pastConditions"
          formControlName="pastConditions"
          class="form-control"
          [ngClass]="{
            'is-valid': patientForm.get('medicalHistory.pastConditions')?.valid && (patientForm.get('medicalHistory.pastConditions')?.dirty || patientForm.get('medicalHistory.pastConditions')?.touched),
            'is-invalid': patientForm.get('medicalHistory.pastConditions')?.invalid && (patientForm.get('medicalHistory.pastConditions')?.dirty || patientForm.get('medicalHistory.pastConditions')?.touched)
          }"
        />
        <div class="warning" *ngIf="patientForm.get('medicalHistory.pastConditions')?.invalid && patientForm.get('medicalHistory.pastConditions')?.touched">
          {{ getErrorMessage(patientForm.get('medicalHistory.pastConditions')) }}
        </div>
      </div>

      <div class="form-group">
        <label for="medications">Medications:</label>
        <input
          type="text"
          id="medications"
          formControlName="medications"
          class="form-control"
          [ngClass]="{
            'is-valid': patientForm.get('medicalHistory.medications')?.valid && (patientForm.get('medicalHistory.medications')?.dirty || patientForm.get('medicalHistory.medications')?.touched),
            'is-invalid': patientForm.get('medicalHistory.medications')?.invalid && (patientForm.get('medicalHistory.medications')?.dirty || patientForm.get('medicalHistory.medications')?.touched)
          }"
        />
        <div class="warning" *ngIf="patientForm.get('medicalHistory.medications')?.invalid && patientForm.get('medicalHistory.medications')?.touched">
          {{ getErrorMessage(patientForm.get('medicalHistory.medications')) }}
        </div>
      </div>

      <div class="form-group">
        <label for="surgeries">Surgeries:</label>
        <input
          type="text"
          id="surgeries"
          formControlName="surgeries"
          class="form-control"
          [ngClass]="{
            'is-valid': patientForm.get('medicalHistory.surgeries')?.valid && (patientForm.get('medicalHistory.surgeries')?.dirty || patientForm.get('medicalHistory.surgeries')?.touched),
            'is-invalid': patientForm.get('medicalHistory.surgeries')?.invalid && (patientForm.get('medicalHistory.surgeries')?.dirty || patientForm.get('medicalHistory.surgeries')?.touched)
          }"
        />
        <div class="warning" *ngIf="patientForm.get('medicalHistory.surgeries')?.invalid && patientForm.get('medicalHistory.surgeries')?.touched">
          {{ getErrorMessage(patientForm.get('medicalHistory.surgeries')) }}
        </div>
      </div>

      <button type="button" class="btn btn-outline-secondary mt-2" (click)="prevStep()">Previous</button>
      <button type="button" class="btn btn-outline-primary ml-2 mt-2" (click)="nextStep()">Next</button>
  </div>
</div>

<div *ngIf="currentStep === 3">
  <div formArrayName="clinicDetails">
    <div *ngFor="let clinic of clinicDetails.controls; let i = index" [formGroupName]="i">
      <div class="form-group">
        <label for="hospital">Hospital:</label>
        <input
          type="text"
          id="hospital"
          formControlName="hospital"
          class="form-control"
          [ngClass]="{
            'is-valid': clinic.get('hospital')?.valid && (clinic.get('hospital')?.dirty || patientForm.get('peclinic.firstName')?.touched),
            'is-invalid': clinic.get('hospital')?.invalid && (clinic.get('hospital')?.dirty || patientForm.get('peclinic.firstName')?.touched)
          }"
        />
        <div class="warning" *ngIf="clinic.get('hospital')?.invalid && clinic.get('hospital')?.touched">
          {{ getErrorMessage(clinic.get('hospital')) }}
        </div>
      </div>

      <div class="form-group">
        <label for="department">Department:</label>
        <input
          type="text"
          id="department"
          formControlName="department"
          class="form-control"
          [ngClass]="{
            'is-valid': clinic.get('department')?.valid && (clinic.get('department')?.dirty || clinic.get('department')?.touched),
            'is-invalid': clinic.get('department')?.invalid && (clinic.get('department')?.dirty || clinic.get('department')?.touched)
          }"
        />
        <div class="warning" *ngIf="clinic.get('department')?.invalid && clinic.get('department')?.touched">
          {{ getErrorMessage(clinic.get('department')) }}
        </div>
      </div>
      
      <div class="form-group">
        <label for="attendingDoctor">Attending Doctor:</label>
        <input
          type="text"
          id="attendingDoctor"
          formControlName="attendingDoctor"
          class="form-control"
          [ngClass]="{
            'is-valid': clinic.get('attendingDoctor')?.valid && (clinic.get('attendingDoctor')?.dirty || clinic.get('attendingDoctor')?.touched),
            'is-invalid': clinic.get('attendingDoctor')?.invalid && (clinic.get('attendingDoctor')?.dirty || clinic.get('attendingDoctor')?.touched)
          }"
        />
        <div class="warning" *ngIf="clinic.get('attendingDoctor')?.invalid && clinic.get('attendingDoctor')?.touched">
          {{ getErrorMessage(clinic.get('attendingDoctor')) }}
        </div>
      </div>

      <div class="form-group">
        <label for="admissionDate">Admission Date:</label>
        <input
          type="date"
          id="admissionDate"
          formControlName="admissionDate"
          class="form-control"
          [ngClass]="{
            'is-valid': clinic.get('admissionDate')?.valid && (clinic.get('admissionDate')?.dirty || clinic.get('admissionDate')?.touched),
            'is-invalid': clinic.get('admissionDate')?.invalid && (clinic.get('admissionDate')?.dirty || clinic.get('admissionDate')?.touched)
          }"
        />
        <div class="warning" *ngIf="clinic.get('admissionDate')?.invalid && clinic.get('admissionDate')?.touched">
          {{ getErrorMessage(clinic.get('admissionDate')) }}
        </div>
      </div>

      <div class="form-group">
        <label for="dischargeDate">Discharge Date:</label>
        <input
          type="date"
          id="dischargeDate"
          formControlName="dischargeDate"
          class="form-control"
          [ngClass]="{
            'is-valid': clinic.get('dischargeDate')?.valid && (clinic.get('dischargeDate')?.dirty || clinic.get('dischargeDate')?.touched),
            'is-invalid': clinic.get('dischargeDate')?.invalid && (clinic.get('dischargeDate')?.dirty || clinic.get('dischargeDate')?.touched)
          }"
        />
        <div class="warning" *ngIf="clinic.get('dischargeDate')?.invalid && clinic.get('dischargeDate')?.touched">
          {{ getErrorMessage(clinic.get('dischargeDate')) }}
        </div>
      </div>

      <div class="form-group">
        <label for="clinicRoom">Clinic Room:</label>
        <input
          type="text"
          id="clinicRoom"
          formControlName="clinicRoom"
          class="form-control"
          [ngClass]="{
            'is-valid': clinic.get('clinicRoom')?.valid && (clinic.get('clinicRoom')?.dirty || clinic.get('clinicRoom')?.touched),
            'is-invalid': clinic.get('clinicRoom')?.invalid && (clinic.get('clinicRoom')?.dirty || clinic.get('clinicRoom')?.touched)
          }"
        />
        <div class="warning" *ngIf="clinic.get('clinicRoom')?.invalid && clinic.get('clinicRoom')?.touched">
          {{ getErrorMessage(clinic.get('clinicRoom')) }}
        </div>
      </div>

      <button *ngIf="clinicDetails.controls.length > 1" type="button" class="btn btn-danger mt-2 md-4" (click)="removeClinic(i)">Remove Clinic</button>
    </div>
    <button type="button" class="btn btn-outline-secondary mt-2" (click)="AddClinic()">Add Another Clinic </button>
  </div>
  <button type="button" class="btn btn-outline-secondary mt-2" (click)="prevStep()">Previous</button>
  <button type="submit" class="btn btn-success ml-2 mt-2" [disabled]="patientForm.invalid">Save</button>
</div>

    </form>
  </div>
</div>



