<app-navbar></app-navbar>

<header class="text-white text-center py-5" style="background-color: #28328c; position: relative;">
  <h1 class="display-4 mb-3">Dr. {{doctor.firstName}} {{doctor.lastName}}</h1>
  <p class="lead mb-3">{{doctor.specialisation.toLowerCase()}} | {{ calculateOverallExperience() }} years exp</p>
  <div style="position: absolute; top: 110px; left: 50%; transform: translateX(-50%);">
    <a *ngFor="let smedia of doctor?.handles" [href]="smedia?.link" target="_blank" class="text-white" style="margin-right: 10px;">
      <i [class]="getIconClass(smedia.handle)"></i>
    </a>
    <a href="mailto:user@example.com?cc={{doctor.email}}" class="text-white" style="margin-right: 10px;">
      <i class="fas fa-envelope fa-2x"></i>
    </a>
  </div>
</header>



<div class="container mt-5">
  <div class="row">
<!-- Education Section -->
<div class="col-md-12">
  <div class="card mb-4 shadow">
    <div class="card-body position-relative"> 
      <h2 class="card-title display-5 mb-4">Education</h2>
      <button
        (click)="toggleEducationForm()"
        class="bg-blue-300 hover:bg-blue-600 text-white font-bold py-1 px-2 rounded position-absolute"
        style="top: 10px; right: 10px;"
      >
        <i class="text-white fa fa-edit"></i>
      </button>

      <div class="sidebar" [ngClass]="{ 'show': showEducation }">
        <form *ngIf="showEducation" class="bg-white rounded-lg p-6">
          <div class="form-group">
            <label for="college">College:</label>
            <input type="text" id="college" name="college" class="form-control" [(ngModel)]="newEducation.college" />
          </div>

          <div class="form-group">
            <label for="degree">Degree:</label>
            <input type="text" id="degree" name="degree" class="form-control" [(ngModel)]="newEducation.degree" />
          </div>

          <div class="form-group">
            <label for="yop">Year of Passing:</label>
            <input type="text" id="yop" name="yop" class="form-control" [(ngModel)]="newEducation.yop" />
          </div>

          <button type="button" class="btn btn-primary mt-3" (click)="saveEducation()">Add</button>
        </form>
      </div>

      <!-- List of Educations -->
      <ul class="list-unstyled">
        <li *ngFor="let education of doctor?.education">
          <div class="mb-3">
            <strong class="text-primary">College:</strong> {{ education.college }}<br />
            <strong class="text-primary">Degree:</strong> {{ education.degree }}<br />
            <strong class="text-primary">Year of Passing:</strong> {{ education.yop }}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

  <!-- Experiences Section -->
<div class="col-md-12">
  <div class="card mb-4 shadow">
    <div class="card-body">
      <h2 class="card-title display-5 mb-4">Experiences</h2>
      <button
        (click)="toggleExperiencesForm()"
        class="bg-blue-300 hover:bg-blue-600 text-white font-bold py-1 px-2 rounded position-absolute"
        style="top: 10px; right: 10px;"
      >
        <i class="text-white fa fa-edit"></i>
      </button>
      <div class="sidebar" [ngClass]="{ 'show': showExperiences }">
        <form *ngIf="showExperiences" class="bg-white rounded-lg p-6">
          <div class="form-group">
            <label for="college">College:</label>
            <input type="text" id="college" name="college" class="form-control" [(ngModel)]="newEducation.college" />
          </div>

          <div class="form-group">
            <label for="degree">Degree:</label>
            <input type="text" id="degree" name="degree" class="form-control" [(ngModel)]="newEducation.degree" />
          </div>

          <div class="form-group">
            <label for="yop">Year of Passing:</label>
            <input type="text" id="yop" name="yop" class="form-control" [(ngModel)]="newEducation.yop" />
          </div>

          <button type="button" class="btn btn-primary mt-3" (click)="saveEducation()">Add</button>
        </form>
      </div>
      <ul class="list-unstyled">
        <li *ngFor="let experience of doctor?.experiences" class="mb-3">
          <div>
            <strong class="text-primary">Hospital:</strong> {{ experience.hospital }}<br />
            <strong class="text-primary">City:</strong> {{ experience.city }}<br />
            <strong class="text-primary">Description:</strong> {{ experience.description }}<br />
            <strong class="text-primary">Period:</strong> {{ experience.startYear }} - {{ experience.endYear }}
          </div>
        </li>
      </ul>
      
      <div class="mt-4">
        <strong >Overall Experience:</strong> {{ calculateOverallExperience() }} years
      </div>
    </div>
  </div>
</div>

    <!-- Services Section -->
    <div class="col-md-12">
      <div class="card mb-4 shadow">
        <div class="card-body">
          <h2 class="card-title display-5 mb-4">Services</h2>
          <button
            (click)="toggleServicesForm()"
            class="bg-blue-300 hover:bg-blue-600 text-white font-bold py-1 px-2 rounded position-absolute"
            style="top: 10px; right: 10px;"
          >
            <i class="text-white fa fa-edit"></i>
          </button>
          <div class="sidebar" [ngClass]="{ 'show': showServices }">
            <form *ngIf="showServices" class="bg-white rounded-lg p-6">
              <div class="form-group">
                <label for="college">College:</label>
                <input type="text" id="college" name="college" class="form-control" [(ngModel)]="newService.college" />
              </div>
    
              <div class="form-group">
                <label for="degree">Degree:</label>
                <input type="text" id="degree" name="degree" class="form-control" [(ngModel)]="newService.degree" />
              </div>
    
              <div class="form-group">
                <label for="yop">Year of Passing:</label>
                <input type="text" id="yop" name="yop" class="form-control" [(ngModel)]="newService.yop" />
              </div>
    
              <button type="button" class="btn btn-primary mt-3" (click)="saveEducation()">Add</button>
            </form>
          </div>
          <ul class="list-unstyled">
            <li *ngFor="let service of doctor?.servicings" class="mb-3">{{ service.name }}</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Specializations Section -->
    <div class="col-md-12">
      <div class="card mb-4 shadow">
        <div class="card-body">
          <h2 class="card-title display-5 mb-4">Specializations</h2>
          <button
            (click)="toggleSpecializationsForm()"
            class="bg-blue-300 hover:bg-blue-600 text-white font-bold py-1 px-2 rounded position-absolute"
            style="top: 10px; right: 10px;"
          >
            <i class="text-white fa fa-edit"></i>
          </button>
          <div class="sidebar" [ngClass]="{ 'show': showSpecializations }">
            <form *ngIf="showSpecializations" class="bg-white rounded-lg p-6">
              <div class="form-group">
                <label for="college">College:</label>
                <input type="text" id="college" name="college" class="form-control" [(ngModel)]="newEducation.college" />
              </div>
    
              <div class="form-group">
                <label for="degree">Degree:</label>
                <input type="text" id="degree" name="degree" class="form-control" [(ngModel)]="newEducation.degree" />
              </div>
    
              <div class="form-group">
                <label for="yop">Year of Passing:</label>
                <input type="text" id="yop" name="yop" class="form-control" [(ngModel)]="newEducation.yop" />
              </div>
    
              <button type="button" class="btn btn-primary mt-3" (click)="saveEducation()">Add</button>
            </form>
          </div>
          <ul class="list-unstyled">
            <li *ngFor="let specialization of doctor?.specializations" class="mb-3">{{ specialization.name }}</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Memberships Section -->
    <div class="col-md-6">
      <div class="card mb-4 shadow">
        <div class="card-body">
          <h2 class="card-title display-5 mb-4">Memberships</h2>
          <button
            (click)="toggleMembershipsForm()"
            class="bg-blue-300 hover:bg-blue-600 text-white font-bold py-1 px-2 rounded position-absolute"
            style="top: 10px; right: 10px;"
          >
            <i class="text-white fa fa-edit"></i>
          </button>
          <div class="sidebar" [ngClass]="{ 'show': showMemberships }">
            <form *ngIf="showMemberships" class="bg-white rounded-lg p-6">
              <div class="form-group">
                <label for="college">College:</label>
                <input type="text" id="college" name="college" class="form-control" [(ngModel)]="newEducation.college" />
              </div>
    
              <div class="form-group">
                <label for="degree">Degree:</label>
                <input type="text" id="degree" name="degree" class="form-control" [(ngModel)]="newEducation.degree" />
              </div>
    
              <div class="form-group">
                <label for="yop">Year of Passing:</label>
                <input type="text" id="yop" name="yop" class="form-control" [(ngModel)]="newEducation.yop" />
              </div>
    
              <button type="button" class="btn btn-primary mt-3" (click)="saveEducation()">Add</button>
            </form>
          </div>
          <ul class="list-unstyled">
            <li *ngFor="let membership of doctor?.memberships" class="mb-3">{{ membership.history }}</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Awards Section -->
    <div class="col-md-6">
      <div class="card mb-4 shadow">
        <div class="card-body">
          <h2 class="card-title display-5 mb-4">Awards</h2>
          <button
            (click)="toggleAwardsForm()"
            class="bg-blue-300 hover:bg-blue-600 text-white font-bold py-1 px-2 rounded position-absolute"
            style="top: 10px; right: 10px;"
          >
            <i class="text-white fa fa-edit"></i>
          </button>
          <div class="sidebar" [ngClass]="{ 'show': showAwards }">
            <form *ngIf="showAwards" class="bg-white rounded-lg p-6">
              <div class="form-group">
                <label for="college">College:</label>
                <input type="text" id="college" name="college" class="form-control" [(ngModel)]="newEducation.college" />
              </div>
    
              <div class="form-group">
                <label for="degree">Degree:</label>
                <input type="text" id="degree" name="degree" class="form-control" [(ngModel)]="newEducation.degree" />
              </div>
    
              <div class="form-group">
                <label for="yop">Year of Passing:</label>
                <input type="text" id="yop" name="yop" class="form-control" [(ngModel)]="newEducation.yop" />
              </div>
    
              <button type="button" class="btn btn-primary mt-3" (click)="saveEducation()">Add</button>
            </form>
          </div>
          <ul class="list-unstyled">
            <li *ngFor="let award of doctor?.awards" class="mb-3">{{ award.title }} - {{award.recYear}}</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
