<app-sidebar></app-sidebar>
<header class="text-white text-center py-5" style="background-color: #180458;; position: relative;">
  <h1 class="display-4 mb-3">Dr. {{doctor.firstName}} {{doctor.lastName}} | {{doctor.specialisation}}</h1>
  <p class="lead mb-3">{{ doctor.email }} </p>
  <div style="position: absolute; top: 110px; left: 50%; transform: translateX(-50%);">
    <a *ngFor="let smedia of doctor?.handles" [href]="smedia?.link" target="_blank" class="text-white" style="margin-right: 10px;">
      <i [class]="getIconClass(smedia.handle)"></i>
    </a>
    <a href="mailto:user@example.com?cc={{doctor.email}}" class="text-white" style="margin-right: 10px;">
      <i class="fas fa-envelope fa-2x"></i>
    </a>
  </div>
</header>

<div class="container mt-5">
  <div class="row">
<!-- Education Section -->
<div class="col-md-12">
  <div class="card mb-4 shadow">
    <div class="card-body position-relative"> 
      <h2 class="card-title display-5 mb-4">Education</h2>
      <button *ngIf="userRole === 'ADMIN'"
        (click)="toggleEducationForm()"
        class="bg-blue-300 hover:bg-blue-600 text-white font-bold py-1 px-2 rounded position-absolute"
        style="top: 10px; right: 10px;"
      >
        <i class="text-white fa fa-edit"></i>
      </button>

      <div class="sidebar" [ngClass]="{ 'show': showEducation }">
        <button
        class="close-btn"
        (click)="toggleEducationForm()"
        style="position: absolute; top: 10px; right: 10px; background: none; border: none; font-size: 30px; cursor: pointer;"
      >
        &times;
      </button>

        <form *ngIf="showEducation" class="bg-white rounded-lg p-6">
          <div class="form-group">
            <label for="college">College:</label>
            <input type="text" id="college" name="college" class="form-control" [(ngModel)]="newEducation.college" />
          </div>

          <div class="form-group">
            <label for="degree">Degree:</label>
            <input type="text" id="degree" name="degree" class="form-control" [(ngModel)]="newEducation.degree" />
          </div>

          <div class="form-group">
            <label for="yop">Year of Passing:</label>
            <input type="text" id="yop" name="yop" class="form-control" [(ngModel)]="newEducation.yop" />
          </div>

          <button type="button" class="btn btn-primary mt-3" (click)="saveEducation()">Add</button>
        </form>
      </div>

      <!-- List of Educations -->
      <ul class="list-unstyled">
        <li *ngFor="let education of doctor?.education">
          <div class="mb-3">
            <strong class="text-primary">College:</strong> {{ education.college }}<br />
            <strong class="text-primary">Degree:</strong> {{ education.degree }}<br />
            <strong class="text-primary">Year of Passing:</strong> {{ education.yop }}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


  <!-- Experiences Section -->
<div class="col-md-12">
  <div class="card mb-4 shadow">
    <div class="card-body">
      <h2 class="card-title display-5 mb-4">Experiences</h2>
      <button *ngIf="userRole === 'ADMIN'"
        (click)="toggleExperiencesForm()"
        class="bg-blue-300 hover:bg-blue-600 text-white font-bold py-1 px-2 rounded position-absolute"
        style="top: 10px; right: 10px;"
      >
        <i class="text-white fa fa-edit"></i>
      </button>
      <div class="sidebar" [ngClass]="{ 'show': showExperiences }">
        <button
        class="close-btn"
        (click)="toggleExperiencesForm()"
        style="position: absolute; top: 10px; right: 10px; background: none; border: none; font-size: 30px; cursor: pointer;"
      >
        &times;
      </button>
        <form *ngIf="showExperiences" class="bg-white rounded-lg p-6">
          <div class="form-group">
            <label for="hospital">Hospital Name:</label>
            <input type="text" id="hospital" name="hospital" class="form-control" [(ngModel)]="newExperience.hospital" />
          </div>

          <div class="form-group">
            <label for="degree">City:</label>
            <input type="text" id="city" name="city" class="form-control" [(ngModel)]="newExperience.city" />
          </div>

          <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" class="form-control" [(ngModel)]="newExperience.description" />
          </div>


          <div class="form-group">
            <label for="startYear">StartYear:</label>
            <input type="text" id="startYear" name="startYear" class="form-control" [(ngModel)]="newExperience.startYear" />
          </div>

          <div class="form-group">
            <label for="startYear">EndYear:</label>
            <input type="text" id="endYear" name="endYear" class="form-control" [(ngModel)]="newExperience.endYear" />
          </div>

          <button type="button" class="btn btn-primary mt-3" (click)="saveExperience()">Add</button>
        </form>
      </div>
      <ul class="list-unstyled">
        <li *ngFor="let experience of doctor?.experiences" class="mb-3">
          <div>
            <strong class="text-primary">Hospital:</strong> {{ experience.hospital }}<br />
            <strong class="text-primary">City:</strong> {{ experience.city }}<br />
            <strong class="text-primary">Description:</strong> {{ experience.description }}<br />
            <strong class="text-primary">Period:</strong> {{ experience.startYear }} - {{ experience.endYear }}
          </div>
        </li>
      </ul>
      
      <div class="mt-4">
        <strong >Overall Experience:</strong> {{ calculateOverallExperience() }} years
      </div>
    </div>
  </div>
</div>

<!-- Registration Section -->
<div class="col-md-12">
  <div class="card mb-4 shadow">
    <div class="card-body position-relative"> 
      <h2 class="card-title display-5 mb-4">Registration</h2>
      <button *ngIf="userRole === 'ADMIN'"
        (click)="toggleRegistrationsForm()"
        class="bg-blue-300 hover:bg-blue-600 text-white font-bold py-1 px-2 rounded position-absolute"
        style="top: 10px; right: 10px;"
      >
        <i class="text-white fa fa-edit"></i>
      </button>

      <div class="sidebar" [ngClass]="{ 'show': showRegistrations }">
        <button
        class="close-btn"
        (click)="toggleRegistrationsForm()"
        style="position: absolute; top: 10px; right: 10px; background: none; border: none; font-size: 30px; cursor: pointer;"
      >
        &times;
      </button>

        <form *ngIf="showRegistrations" class="bg-white rounded-lg p-6">
          <div class="form-group">
            <label for="regId">Registration Id:</label>
            <input type="text" id="regId" name="regId" class="form-control" [(ngModel)]="newRegistration.regId" />
          </div>

          <div class="form-group">
            <label for="council">Council:</label>
            <input type="text" id="council" name="council" class="form-control" [(ngModel)]="newRegistration.council" />
          </div>

          <div class="form-group">
            <label for="validFrom">Valid From:</label>
            <input type="text" id="validFrom" name="validFrom" class="form-control" [(ngModel)]="newRegistration.validFrom" />
          </div>

          <button type="button" class="btn btn-primary mt-3" (click)="saveRegistration()">Add</button>
        </form>
      </div>

      <!-- List of Registrations -->
      <ul class="list-unstyled">
        <li *ngFor="let registration of doctor?.registrations">
          <div class="mb-3">
            <strong class="text-primary">Registration Id:</strong> {{ registration.regId }}<br />
            <strong class="text-primary">Council:</strong> {{ registration.council }}<br />
            <strong class="text-primary">Valid From:</strong> {{ registration.validFrom }}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

    <!-- Services Section -->
    <div class="col-md-12">
      <div class="card mb-4 shadow">
        <div class="card-body">
          <h2 class="card-title display-5 mb-4">Services</h2>
          <button *ngIf="userRole === 'ADMIN'"
            (click)="toggleServicesForm()"
            class="bg-blue-300 hover:bg-blue-600 text-white font-bold py-1 px-2 rounded position-absolute"
            style="top: 10px; right: 10px;"
          >
            <i class="text-white fa fa-edit"></i>
          </button>
          <div class="sidebar" [ngClass]="{ 'show': showServices }">
            <button
            class="close-btn"
            (click)="toggleServicesForm()"
            style="position: absolute; top: 10px; right: 10px; background: none; border: none; font-size: 30px; cursor: pointer;"
          >
            &times;
          </button>
            <form *ngIf="showServices" class="bg-white rounded-lg p-6">
              <div class="form-group">
                <label for="name">Services:</label>
                <input type="text" id="name" name="name" class="form-control" [(ngModel)]="newService.name" />
              </div>
    
           
    
              <button type="button" class="btn btn-primary mt-3" (click)="saveService()">Add</button>
            </form>
          </div>
          <ul class="list-unstyled">
            <li *ngFor="let service of doctor?.servicings" class="mb-3">{{ service.name }}</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Specializations Section -->
    <div class="col-md-12">
      <div class="card mb-4 shadow">
        <div class="card-body">
          <h2 class="card-title display-5 mb-4">Specializations</h2>
          <button *ngIf="userRole === 'ADMIN'"
            (click)="toggleSpecializationsForm()"
            class="bg-blue-300 hover:bg-blue-600 text-white font-bold py-1 px-2 rounded position-absolute"
            style="top: 10px; right: 10px;"
          >
            <i class="text-white fa fa-edit"></i>
          </button>
          <div class="sidebar" [ngClass]="{ 'show': showSpecializations }">
            <button
            class="close-btn"
            (click)="toggleSpecializationsForm()"
            style="position: absolute; top: 10px; right: 10px; background: none; border: none; font-size: 30px; cursor: pointer;"
          >
            &times;
          </button>
            <form *ngIf="showSpecializations" class="bg-white rounded-lg p-6">
              <div class="form-group">
                <label for="name">Specialization:</label>
                <input type="text" id="name" name="name" class="form-control" [(ngModel)]="newSpecialization.specialization" />
              </div>
    
            
    
              <button type="button" class="btn btn-primary mt-3" (click)="saveSpecialization()">Add</button>
            </form>
          </div>
          <ul class="list-unstyled">
            <li *ngFor="let specialization of doctor?.specializations" class="mb-3">{{ specialization.specialization }}</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Memberships Section -->
    <div class="col-md-6">
      <div class="card mb-4 shadow">
        <div class="card-body">
          <h2 class="card-title display-5 mb-4">Memberships</h2>
          <button *ngIf="userRole === 'ADMIN'"
            (click)="toggleMembershipsForm()"
            class="bg-blue-300 hover:bg-blue-600 text-white font-bold py-1 px-2 rounded position-absolute"
            style="top: 10px; right: 10px;"
          >
            <i class="text-white fa fa-edit"></i>
          </button>
          <div class="sidebar" [ngClass]="{ 'show': showMemberships }">
            <button
            class="close-btn"
            (click)="toggleMembershipsForm()"
            style="position: absolute; top: 10px; right: 10px; background: none; border: none; font-size: 30px; cursor: pointer;"
          >
            &times;
          </button>
            <form *ngIf="showMemberships" class="bg-white rounded-lg p-6">
              <div class="form-group">
                <label for="history">Membership:</label>
                <input type="text" id="history" name="history" class="form-control" [(ngModel)]="newMembership.history" />
              </div>
              <div class="form-group">
                <label for="startYear">Start Year:</label>
                <input type="text" id="startYear" name="startYear" class="form-control" [(ngModel)]="newMembership.startYear" />
              </div>

              <div class="form-group">
                <label for="endYear">End Year:</label>
                <input type="text" id="endYear" name="endYear" class="form-control" [(ngModel)]="newMembership.endYear" />
              </div>
    
              
    
              <button type="button" class="btn btn-primary mt-3" (click)="saveMembership()">Add</button>
            </form>
          </div>
          <ul class="list-unstyled">
            <li *ngFor="let membership of doctor?.memberships" class="mb-3">{{ membership.history }} ( {{membership.startYear}} - {{membership.endYear}} )</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Awards Section -->
    <div class="col-md-6">
      <div class="card mb-4 shadow">
        <div class="card-body">
          <h2 class="card-title display-5 mb-4">Awards</h2>
          <button *ngIf="userRole === 'ADMIN'"
            (click)="toggleAwardsForm()"
            class="bg-blue-300 hover:bg-blue-600 text-white font-bold py-1 px-2 rounded position-absolute"
            style="top: 10px; right: 10px;"
          >
            <i class="text-white fa fa-edit"></i>
          </button>
          <div class="sidebar" [ngClass]="{ 'show': showAwards }">
            <button
            class="close-btn"
            (click)="toggleAwardsForm()"
            style="position: absolute; top: 10px; right: 10px; background: none; border: none; font-size: 30px; cursor: pointer;"
          >
            &times;
          </button>
            <form *ngIf="showAwards" class="bg-white rounded-lg p-6">
              <div class="form-group">
                <label for="title">Award Title:</label>
                <input type="text" id="title" name="title" class="form-control" [(ngModel)]="newAward.title" />
              </div>
    
              
    
              <div class="form-group">
                <label for="recYear"> Recieving Year:</label>
                <input type="text" id="recYear" name="recYear" class="form-control" [(ngModel)]="newAward.recYear" />
              </div>
    
              <button type="button" class="btn btn-primary mt-3" (click)="saveAward()">Add</button>
            </form>
          </div>
          <ul class="list-unstyled">
            <li *ngFor="let award of doctor?.awards" class="mb-3">{{ award.title }} - {{award.recYear}}</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
