<app-sidebar></app-sidebar>
    <div class="container">
        <div class="content">
            <div class="cards">
                <div class="card">
                    <div class="box">
                        <h1>2194</h1>
                        <h3>Appointments</h3>
                    </div>
                    <div class="icon-case">
                        <img src="../../assets/images/appointments-icon.png" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>{{ doctorCount }}</h1>
                        <h3>Doctors</h3>
                    </div>
                    <div class="icon-case">
                        <img src="../../assets/images/doctors-icon.png" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>{{ patientCount }}</h1>
                        <h3>Patients</h3>
                    </div>
                    <div class="icon-case">
                        <img src="../../assets/images/patients-icon.png" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>350,000</h1>
                        <h3>Payments</h3>
                    </div>
                    <div class="icon-case">
                        <img src="../../assets/images/payments-icon.png" alt="">
                    </div>
                </div>
            </div>
            <div class="content-2">
                <div class="new-doctors">
                    <div class="title">
                        <h2>New Doctors</h2>
                        <a href="#" class="btn">View All</a>
                    </div>
                <app-home [showSidebar]="false"></app-home>
                </div>
                <div class="recent-patients">
                    <div class="title">
                        <h2>Recent Patients</h2>
                        <a href="#" class="btn">View All</a>
                    </div>
                    <app-patient-home [showSidebar]="false"></app-patient-home>
                </div> 
            </div>
        </div>
    </div>

