.container{
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
  }
  .section-heading {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color:  #008080;
  }
  .record-details {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }
  .record-details p {
    margin: 10px 0;
  }
  .record-details strong {
    color: #28328c;
  }

  .edit-button {
    position: absolute;
    top: 0px; 
    right: 10px;
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    padding: 4px 6px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-button:hover {
    background-color: #45a049;
  }
  
 
  .close-btn {
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .sidebar {
    position: fixed;
    top: 23%;
    right: -350px;
    width: 350px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-out;
    overflow-y: auto;
    z-index: 1000; 
  }
  
  .sidebar.show {
    right: 0;
  }
  
.clinic-form {
  padding: 20px;
}

.clinic-container {
  background-color: #ecf0f1;
  padding: 15px;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.clinic-details p {
  margin: 5px 0;
}

.clinic-details strong {
  color: #28328c;
}

.toggle-reports {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.reports-list {
  list-style: none;
  padding: 0;
}

.reports-list li {
  background-color: #fff;
  padding: 15px;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.reports-list li p {
  margin: 5px 0;
}


  