<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="user-details">
    <div class="step-indicators">
      <span *ngFor="let step of steps" class="step-dot" [class.active]="step === currentStep"></span>
    </div>
    <h2 class="mb-4 text-center">Step {{currentStep}} - {{title}}</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

      <div *ngIf="currentStep === 1">
        <div formGroupName="personalDetails">
            <div class="form-group">
              <label for="firstName"><span style="color: red;">* </span>First Name:</label>
              <input type="text" id="firstName" formControlName="firstName" class="form-control"
                [ngClass]="{'is-valid': userForm.get('personalDetails.firstName')?.valid && (userForm.get('personalDetails.firstName')?.dirty || userForm.get('personalDetails.firstName')?.touched), 'is-invalid': userForm.get('personalDetails.firstName')?.invalid && (userForm.get('personalDetails.firstName')?.dirty || userForm.get('personalDetails.firstName')?.touched)}" />
              <div class="warning" *ngIf="userForm.get('personalDetails.firstName')?.invalid && userForm.get('personalDetails.firstName')?.touched">
                {{ getErrorMessage(userForm.get('personalDetails.firstName')) }}
              </div>
            </div>

            <div class="form-group">
              <label for="lastName"><span style="color: red;">* </span>Last Name:</label>
              <input 
              type="text" 
              id="lastName" 
              formControlName="lastName" 
              class="form-control"
              [ngClass]="{
                'is-valid': userForm.get('personalDetails.lastName')?.valid && (userForm.get('personalDetails.lastName')?.dirty || userForm.get('personalDetails.lastName')?.touched), 
                'is-invalid': userForm.get('personalDetails.lastName')?.invalid && (userForm.get('personalDetails.lastName')?.dirty || userForm.get('personalDetails.lastName')?.touched)}" />
              <div class="warning" *ngIf="userForm.get('personalDetails.lastName')?.invalid && userForm.get('personalDetails.lastName')?.touched">
                {{ getErrorMessage(userForm.get('personalDetails.lastName')) }}
              </div>
            </div>
    

          <div class="form-group">
            <label for="email"><span style="color: red;">* </span>Email:</label>
            <input
              type="email"
              id="email"
              formControlName="email"
              class="form-control"
              [ngClass]="{
                'is-valid': userForm.get('personalDetails.email')?.valid && (userForm.get('personalDetails.email')?.dirty || userForm.get('personalDetails.email')?.touched),
                'is-invalid': userForm.get('personalDetails.email')?.invalid && (userForm.get('personalDetails.email')?.dirty || userForm.get('personalDetails.email')?.touched)}"/>
            <div class="warning" *ngIf="userForm.get('personalDetails.email')?.invalid && userForm.get('personalDetails.email')?.touched">
              {{ getErrorMessage(userForm.get('personalDetails.email')) }}
            </div>
          </div>

          <div class="form-group">
            <label for="address">Address:</label>
            <input
              type="text"
              id="address"
              formControlName="address"
              class="form-control"
              [ngClass]="{
                'is-valid': userForm.get('personalDetails.address')?.valid && (userForm.get('personalDetails.address')?.dirty || userForm.get('personalDetails.address')?.touched),
                'is-invalid': userForm.get('personalDetails.address')?.invalid && (userForm.get('personalDetails.address')?.dirty || userForm.get('personalDetails.address')?.touched)}"/>
            <div class="warning" *ngIf="userForm.get('personalDetails.address')?.invalid && userForm.get('personalDetails.address')?.touched">
              {{ getErrorMessage(userForm.get('personalDetails.address')) }}
            </div>
          </div>

          <div class="form-group">
            <label for="dateOfBirth"><span style="color: red;">* </span>Date of Birth:</label>
            <input
              type="date"
              id="dateOfBirth"
              formControlName="dateOfBirth"
              class="form-control"
              [ngClass]="{
                'is-valid': userForm.get('personalDetails.dateOfBirth')?.valid && (userForm.get('personalDetails.dateOfBirth')?.dirty || userForm.get('personalDetails.dateOfBirth')?.touched),
                'is-invalid': userForm.get('personalDetails.dateOfBirth')?.invalid && (userForm.get('personalDetails.dateOfBirth')?.dirty || userForm.get('personalDetails.dateOfBirth')?.touched)}"/>
            <div class="warning" *ngIf="userForm.get('personalDetails.dateOfBirth')?.invalid && userForm.get('personalDetails.dateOfBirth')?.touched">
              {{ getErrorMessage(userForm.get('personalDetails.dateOfBirth')) }}
            </div>
          </div>

          <div class="form-group">
            <label for="socialMediaList">Social Media:</label>
            <div formArrayName="socialMediaList">
              <div *ngFor="let socialMedia of userForm.get('personalDetails.socialMediaList')?.value; let i = index">
                <div [formGroupName]="i" class="col-12">
                  <div class="row">
                    <div class="col-4">
                      <select formControlName="handle" class="form-control">
                        <option value="" disabled selected>Select social media</option>
                        <option *ngFor="let option of getAvailableSocialMediaOptions(i)" [value]="option">{{ option }}</option>
                      </select>
                    </div>
                    <div class="col-4">
                      <input type="text" formControlName="link" placeholder="Your profile link" class="form-control"
                        [ngClass]="{
                          'is-valid': userForm.get('personalDetails.socialMediaList.' + i + '.link')?.valid &&
                            (userForm.get('personalDetails.socialMediaList.' + i + '.link')?.dirty ||
                              userForm.get('personalDetails.socialMediaList.' + i + '.link')?.touched),
                          'is-invalid': userForm.get('personalDetails.socialMediaList.' + i + '.link')?.invalid &&
                            (userForm.get('personalDetails.socialMediaList.' + i + '.link')?.dirty ||
                              userForm.get('personalDetails.socialMediaList.' + i + '.link')?.touched)
                        }" />

                      <div class="warning"
                        *ngIf="userForm.get('personalDetails.socialMediaList.' + i + '.link')?.invalid &&
                          userForm.get('personalDetails.socialMediaList.' + i + '.link')?.touched">
                        {{ getErrorMessage(userForm.get('personalDetails.socialMediaList.' + i + '.link')) }}
                      </div>
                    </div>
                    <div class="col-2">
                      <button *ngIf="i > 0" type="button" (click)="removeSocialMedia(i)" class="btn btn-outline-danger btn-sm mr-2 mt-1">-</button>
                      <button *ngIf="i === userForm.get('personalDetails.socialMediaList')?.value.length - 1 && i<2" type="button" (click)="addSocialMedia()" class="btn btn-outline-primary btn-sm mt-1">+</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        

          <div class="form-group">
            <label for="specialisation">Specialisation:</label>
            <input
              type="text"
              id="specialisation"
              formControlName="specialisation"
              class="form-control"
              [ngClass]="{
                'is-valid': userForm.get('personalDetails.specialisation')?.valid && (userForm.get('personalDetails.specialisation')?.dirty || userForm.get('personalDetails.specialisation')?.touched),
                'is-invalid': userForm.get('personalDetails.specialisation')?.invalid && (userForm.get('personalDetails.specialisation')?.dirty || userForm.get('personalDetails.specialisation')?.touched)}"/>
            <div class="warning" *ngIf="userForm.get('personalDetails.specialisation')?.invalid && userForm.get('personalDetails.specialisation')?.touched">
              {{ getErrorMessage(userForm.get('personalDetails.specialisation'))}}
            </div>
          </div>

          <button type="button" class="btn btn-primary" [disabled]="!userForm.get('personalDetails')?.valid" (click)="nextStep()">Next</button>


        </div>
      </div>

      <div *ngIf="currentStep === 2">
        <div formGroupName="eduDetails">
          <div class="form-group">
            <label for="college"><span style="color: red;">* </span>College:</label>
            <input
              type="text"
              class="form-control"
              placeholder="Start typing to select a college"
              formControlName="college"
              [typeahead]="colleges"
              [typeaheadItemTemplate]="customItemTemplate"
            >
            <ng-template #customItemTemplate let-model="item" let-index="index">
              <div class="custom-item">
                {{ model }}
              </div>
            </ng-template>
          </div>

          <div class="form-group">
            <label for="degree"><span style="color: red;">* </span>Degree:</label>
            <input
              type="any"
              class="form-control"
              placeholder="Start typing to select a degree"
              formControlName="degree"
              [typeahead]="degrees"
              [typeaheadItemTemplate]="customItemTemplate"
            >
            <ng-template #customItemTemplate let-model="item" let-index="index">
              <div class="custom-item">
                {{ model }}
              </div>
            </ng-template>
          </div>

          <div class="form-group">
            <label for="yop"><span style="color: red;">* </span>Year of Passing:</label>
            <input
              type="text"
              id="yop"
              formControlName="yop"
              class="form-control"
              [ngClass]="{
                'is-valid': userForm.get('eduDetails.yop')?.valid && (userForm.get('eduDetails.yop')?.dirty || userForm.get('eduDetails.yop')?.touched),
                'is-invalid': userForm.get('eduDetails.yop')?.invalid && (userForm.get('eduDetails.yop')?.dirty || userForm.get('eduDetails.yop')?.touched)}"/>
            <div class="warning" *ngIf="userForm.get('eduDetails.yop')?.invalid && userForm.get('eduDetails.yop')?.touched">
              {{ getErrorMessage(userForm.get('eduDetails.yop')) }}
            </div>
          </div>

          <button type="button" class="btn btn-secondary" (click)="prevStep()">Previous</button>
          <button type="button" class="btn btn-primary ml-2" [disabled]="userForm.get('eduDetails')?.invalid" (click)="nextStep()">Next</button>
        </div>
      </div>
      <div *ngIf="currentStep === 3">
        <div formArrayName="expDetails">
          <div *ngFor="let experience of expDetails.controls; let i = index" [formGroupName]="i">
            <div class="form-group">
              <label for="hospital">Hospital:</label>
              <input
                type="text"
                id="hospital"
                formControlName="hospital"
                class="form-control"
                [ngClass]="{
                  'is-valid': experience.get('hospital')?.valid && (experience.get('hospital')?.dirty || experience.get('hospital')?.touched),
                  'is-invalid': experience.get('hospital')?.invalid && (experience.get('hospital')?.dirty || experience.get('hospital')?.touched)}"/>
              <div class="warning" *ngIf="experience.get('hospital')?.invalid && experience.get('hospital')?.touched">
                {{ getErrorMessage(experience.get('hospital')) }}
              </div>
            </div>
      
            <div class="form-group">
              <label for="city">City:</label>
              <input
                type="text"
                id="city"
                formControlName="city"
                class="form-control"
                [ngClass]="{
                  'is-valid': experience.get('city')?.valid && (experience.get('city')?.dirty || experience.get('city')?.touched),
                  'is-invalid': experience.get('city')?.invalid && (experience.get('city')?.dirty || experience.get('city')?.touched)}"/>
              <div class="warning" *ngIf="experience.get('city')?.invalid && experience.get('city')?.touched">
                {{ getErrorMessage(experience.get('city')) }}
              </div>
            </div>
      
            <div class="form-group">
              <label for="description">Description:</label>
              <input
                type="text"
                id="description"
                formControlName="description"
                class="form-control"
                [ngClass]="{
                  'is-valid': experience.get('description')?.valid && (experience.get('description')?.dirty || experience.get('description')?.touched),
                  'is-invalid': experience.get('description')?.invalid && (experience.get('description')?.dirty || experience.get('description')?.touched)}"/>
              <div class="warning" *ngIf="experience.get('description')?.invalid && experience.get('description')?.touched">
                {{ getErrorMessage(experience.get('description')) }}
              </div>
            </div>
      
            <div class="form-group">
              <label for="startYear">Start Year:</label>
              <input
                type="text"
                id="startYear"
                formControlName="startYear"
                class="form-control"
                [ngClass]="{
                  'is-valid': experience.get('startYear')?.valid && (experience.get('startYear')?.dirty || experience.get('startYear')?.touched),
                  'is-invalid': experience.get('startYear')?.invalid && (experience.get('startYear')?.dirty || experience.get('startYear')?.touched)}"/>
              <div class="warning" *ngIf="experience.get('startYear')?.invalid && experience.get('startYear')?.touched">
                {{ getErrorMessage(experience.get('startYear')) }}
              </div>
            </div>
      
            <div class="form-group">
              <label for="endYear">End Year:</label>
              <input
                type="text"
                id="endYear"
                formControlName="endYear"
                class="form-control"
                [ngClass]="{
                  'is-valid': experience.get('endYear')?.valid && (experience.get('endYear')?.dirty || experience.get('endYear')?.touched),
                  'is-invalid': experience.get('endYear')?.invalid && (experience.get('endYear')?.dirty || experience.get('endYear')?.touched)}"/>
              <div class="warning" *ngIf="experience.get('endYear')?.invalid && experience.get('endYear')?.touched">
                {{ getErrorMessage(experience.get('endYear')) }}
              </div>
            </div>
      
            <button *ngIf="expDetails.controls.length > 1" type="button" class="btn btn-danger mt-2 md-4" (click)="removeExp(i)">Remove Experience</button>
          </div>
          <button type="button" class="btn btn-success mt-2" (click)="AddExperiences()">Add Another Experience</button>
        </div>
      
        <button type="button" class="btn btn-secondary mt-2" (click)="prevStep()">Previous</button>
        <button type="button" class="btn btn-primary ml-2 mt-2" [disabled]="userForm.get('expDetails')?.invalid" (click)="nextStep()">Next</button>
      </div>

      <div *ngIf="currentStep === 4">
        <div formArrayName="recDetails">
          <div *ngFor="let award of recDetails.controls; let i = index" [formGroupName]="i">
          <div class="form-group">
            <label for="awards">Award:</label>
            <input
              type="text"
              id="awards"
              formControlName="title"
              class="form-control"
              [ngClass]="{
                'is-valid': award.get('title')?.valid && (award.get('title')?.dirty || award.get('title')?.touched),
                'is-invalid': award.get('title')?.invalid && (award.get('title')?.dirty || award.get('title')?.touched)}"/>
            <div class="warning" *ngIf="award.get('title')?.invalid && award.get('title')?.touched">
              {{ getErrorMessage(award.get('title')) }}
            </div>
          </div>

          <div class="form-group">
            <label for="recYear">Receiving Year:</label>
            <input
              type="text"
              id="recYear"
              formControlName="recYear"
              class="form-control"
              [ngClass]="{
                'is-valid': award.get('recYear')?.invalid && (award.get('recYear')?.dirty || award.get('recYear')?.touched),
                'is-invalid': award.get('recYear')?.invalid && (award.get('recYear')?.dirty || award.get('recYear')?.touched)}"/>
            <div class="warning" *ngIf="award.get('recYear')?.invalid && userForm.get('recYear')?.touched">
              {{ getErrorMessage(award.get('recYear')) }}
            </div>
          </div>

          <button *ngIf="recDetails.controls.length > 1" type="button" class="btn btn-danger mt-2 md-4" (click)="removeAward(i)">Remove Award</button>
        </div>
        <button type="button" class="btn btn-success mt-2" (click)="addAward()">Add Another Award</button>
      </div>
      <button type="button" class="btn btn-secondary mt-2" (click)="prevStep()">Previous</button>
      <button type="button" class="btn btn-primary ml-2 mt-2" [disabled]="userForm.get('recDetails')?.invalid" (click)="nextStep()">Next</button>
    </div>

      <div *ngIf="currentStep === 5">
        <div formGroupName="specDetails">
          <div class="form-group">
            <label for="specialisation">Specialisation:</label>
            <input
              type="text"
              id="specialisation"
              formControlName="specialisation"
              class="form-control"
              [ngClass]="{
                'is-valid': userForm.get('specDetails.specialisation')?.invalid && (userForm.get('specDetails.specialisation')?.dirty || userForm.get('specDetails.specialisation')?.touched),
                'is-invalid': userForm.get('specDetails.specialisation')?.invalid && (userForm.get('specDetails.specialisation')?.dirty || userForm.get('specDetails.specialisation')?.touched)}"/>
            <div class="warning" *ngIf="userForm.get('specDetails.specialisation')?.invalid && userForm.get('specDetails.specialisation')?.touched">
              {{ getErrorMessage(userForm.get('specDetails.specialisation')) }}
            </div>
          </div>

          <div class="form-group">
            <label for="servicings">Servicings:</label>
            <input
              type="text"
              id="servicings"
              formControlName="servicings"
              class="form-control"
              [ngClass]="{
                'is-valid': userForm.get('specDetails.servicings')?.invalid && (userForm.get('specDetails.servicings')?.dirty || userForm.get('specDetails.servicings')?.touched),
                'is-invalid': userForm.get('specDetails.servicings')?.invalid && (userForm.get('specDetails.servicings')?.dirty || userForm.get('specDetails.servicings')?.touched)}"/>
            <div class="warning" *ngIf="userForm.get('specDetails.servicings')?.invalid && userForm.get('specDetails.servicings')?.touched">
              {{ getErrorMessage(userForm.get('specDetails.servicings')) }}
            </div>
          </div>

          <div class="form-group">
            <label for="memberships">Memberships:</label>
            <input
              type="text"
              id="memberships"
              formControlName="memberships"
              class="form-control"
              [ngClass]="{
                'is-valid': userForm.get('specDetails.memberships')?.invalid && (userForm.get('specDetails.memberships')?.dirty || userForm.get('specDetails.memberships')?.touched),
                'is-invalid': userForm.get('specDetails.memberships')?.invalid && (userForm.get('specDetails.memberships')?.dirty || userForm.get('specDetails.memberships')?.touched)}"/>
            <div class="warning" *ngIf="userForm.get('specDetails.memberships')?.invalid && userForm.get('specDetails.memberships')?.touched">
              {{ getErrorMessage(userForm.get('specDetails.memberships')) }}
            </div>
          </div>

        <button type="button" class="btn btn-secondary" (click)="prevStep()">Previous</button>
        <button type="submit" class="btn btn-success ml-2" [disabled]="userForm.invalid">Submit</button>
      </div>
      </div>

    </form>
  </div>
</div>
